<button type="button"
    class="storybook-button {{if primary "storybook-button--primary" "storybook-button--secondary"}} storybook-button--{{size}}"
    style="background-color:{{backgroundColor}};" onclick={{action onClick}}>
    {{ label }}
</button>