<button type="button"
    class="storybook-button {{if this.primary "storybook-button--primary" "storybook-button--secondary"}} storybook-button--{{this.size}}"
    style="background-color:{{backgroundColor}};" onclick={{this.onClick}}>
    {{this.label}}
</button>
